*{

    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;

}

a:link{color: white;}
a:hover{color: #ff9500;}
a:active{color: #afafaf;}
a:visited{color: white}
.menu a:hover{
    background-color: #ff9500;
}
nav ul li a:hover{
    background-color: #ff9500;
}


header{
         height: 101px;
         width: 100%;
         display: flex;
         justify-content: center;


}

nav{
    background-color: black ; 
    width: 100%;
    height: 100%;
    display: flex;
    text-align: center;
    position: relative;
    justify-content: center;
    
}

nav ul{
    position: absolute;
    width: 1152px;  
    height: 101px;
    display: flex;
    justify-content: space-between;
}

nav ul li{
    width: 143px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li a{
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 200px;
    font-style: Bold ;
    font-size: 22px;
    letter-spacing: -0.4px; 
    width: 370px;
    height: 30px;
    
    
}

.box1{
      background-image:url(img/back3-1.jpg);
      width: 1920px;
      height: 583px;
      position: absolute;
      z-index: 0;
      background-size: cover;
}

.box2{
    background-image:url(img/back3.jpg);
    width: 1920px;
    height: 7311px;
    position: absolute;
    top: 650px;
    background-size: cover;
    transform: translateX(-5%);

}


.ny1{
    width: 459px;
    height: 459px;
    top: 1193px;
    left: 625px;
    position: absolute;
    transform: translateX(-23%);

}

.ny2{
    width: 549px;
    height: 797px;
    top: 2292px;
    left: 580px;
    position: absolute;
    transform: translateX(-23%);
    
}

.ny3{
    width: 549px;
    height: 817px;
    top: 3729px;
    left: 580px;
    position: absolute;
    transform: translateX(-18%);
    
}

.ny4{
    width: 549px;
    height: 817px;
    top: 5120px;
    left: 580px;
    position: absolute;
    transform: translateX(-18%);
    
}

.ny5{
    width: 549px;
    height: 817px;
    top: 6511px;
    left: 580px;
    position: absolute;
    transform: translateX(-18%);
    
}


.text1{
    
    width: 868px;
    height: 300px;
    position: absolute;
    top: 682px;
   
    top: 1755px;
    left: 526px;
   

}

.text2{
    
    width: 674px;
    height: 300px;
    position: absolute;
    top: 3192px;
   
    left: 610px;
   

}

.text3{
    
    width: 320px;
    height: 24px;
    position: absolute;
    top: 4654px;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    padding-left: 20px;
   

}

.text4{
    
    width: 443xpx;
    height: 21px;
    position: absolute;
    top: 6045px;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    padding-left: 20px;
   

}

.text5{
    
    width: 443xpx;
    height: 21px;
    position: absolute;
    top: 7436px;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    padding-left: 20px;
   

}
